
/*qiulinhe:2016年11月7日13:48:26*/
/* dataTables列内容居中 */
.table>tbody>tr>td{
    text-align:center;
    vertical-align: middle !important
}

/* dataTables表头居中 */
.table>thead:first-child>tr:first-child>th{
    text-align:center;
}