<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="head"></div>
<!-- DataTables -->
<link rel="stylesheet"
	href="../plugins/datatables/dataTables.bootstrap.css" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"/>
<title>统计列表</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
	<div class="wrapper">

		<div th:replace="header"></div>
		<div th:replace="sidebar"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">


			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">

						<div class="box">
							<div class="box-header">
								<!-- id:<input id="id"></input> -->
                                <!-- <button onclick="search1()">查询</button> -->
								<!-- <a th:href="@{/demo/form}" title="新增"><span class="glyphicon glyphicon-plus"></span></a> -->
							</div>

							<div class="box-body">
								<table id="dataTable" class="table table-bordered table-striped">
									<thead>
										<tr>
                                            <th>主键</th>
                                            <th>主键</th>
											<th>修改</th>
                                            <th>删除</th>
										</tr>
									</thead>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>

			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


	</div>

	<div th:replace="script"></div>

	<!-- page script -->
	<script th:inline="javascript">
    var ctx = /*[[@{/}]]*/'';
    var table;
    $(function () {
    table = $('#dataTable').DataTable({
            "pagingType": "simple_numbers",//设置分页控件的模式

            searching: false,//屏蔽datatales的查询框
            ordering : false,
            aLengthMenu:[10],//设置一页展示10条记录

            "bLengthChange": false,//屏蔽tables的一页展示多少条记录的下拉列表

            "oLanguage": { //对表格国际化

                "sLengthMenu": "每页显示 _MENU_条", 

                "sZeroRecords": "没有找到符合条件的数据", 

                // "sProcessing": "<img src='./loading.gif' />", 

                "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条", 

                "sInfoEmpty": "木有记录", 

                "sInfoFiltered": "(从 _MAX_ 条记录中过滤)", 

                "sSearch": "搜索：", 

                "oPaginate": { 

                "sFirst": "首页", 

                "sPrevious": "前一页", 

                "sNext": "后一页", 

                "sLast": "尾页"
                }   

            },

            "processing": false, //打开数据加载时的等待效果

            "serverSide": true,//打开后台分页
            "ajax": {

                "url": ctx + "demo/getPageList", 

                "dataSrc": "data", 

                "data": function (d) {

                //var user_id = $('#user_id').val();

                //添加额外的参数传给服务器
               // d.userId = user_id;

                }

            },
            "columns": [
            { "data": "id" },
            { "data": "" },
            { "data": "" }
            ],
            "columnDefs": [ {
                "targets": -2,
                "render": function (data, type, row, meta) {
                	return "<td style='text-align: center'><a href='"+ctx+"demo/form?id="+ row.id+"'><span class='glyphicon glyphicon-edit' title='编辑'></span></a></td>";
                	
                },
                "defaultContent": "不能操作"
                },
                {
                    "targets": -1,
                    "render": function (data, type, row, meta) {
                        return " <td style='text-align: center'><span name='trash' title='删除' data='"+ctx+"demo/"+ row.id+"/delete' style='cursor: pointer' class='glyphicon glyphicon-trash'></span></td>";
    	
                },
                    "defaultContent": "不能操作"
                    }]
        });
    table.on( 'draw', function () {
        ajaxClick('trash','DELETE');
    });
    });
    
</script>
	<script th:src="@{/js/list-page.js}"></script>
</body>
</html>